<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <header>
        <h1>The Book Reviewers</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Eloquent Ruby Review</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
<div>
    <img src="static/images/site-maintainer.png">
    <h2>Feel free to send us some feedback on Facebook, Twitter, or to our email.
    </h2>
    <ul>
        <li><a href="https://www.facebook.com"><img src="static/images/logo-facebook.png"></a></li>
        <li><a href="https://www.twitter.com"><img src="static/images/logo-twitter.png"></a></li>
        <li><a href="#">Email</a></li>
    </ul>
</div>
</body>
<footer> Copyright 2022. Created by Chinazo.</footer>
</html>