<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Book Reviewers</title>
    <link href="static/index.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <h1>The Book Reviewers</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Eloquent Ruby Review</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <ul>
            <li><a href="https://www.amazon.com/Clean-Ruby-Crafting-Better-Rubyists-ebook/dp/B0825PGLR2"><img src="static/images/cover-clean_ruby.jpg" alt="Clean Ruby Cover"></a></li>
            <li><a href="https://www.amazon.com/Confident-Ruby-Patterns-Joyful-Coding-ebook/dp/B00ETE0D2S/ref=sr_1_1?keywords=confident+ruby&qid=1652379368&s=digital-text&sprefix=confident+ru%2Cdigital-text%2C75&sr=1-1"><img src="static/images/cover-confident_ruby.jpg" alt="Confident Ruby Cover"></a></li>
            <li><a href="https://www.amazon.com/Eloquent-Ruby-Addison-Wesley-Professional/dp/0321584104"><img src="static/images/cover-eloquent_ruby.jpg" alt="Eloquent Ruby Cover"></a></li>
            <li><a href="https://www.amazon.com/Well-Grounded-Rubyist-Joe-Leo-ebook/dp/B09781746S/ref=sr_1_1?crid=2XLM94IW6RV5Y&keywords=well+grounded+ruby&qid=1652379505&s=digital-text&sprefix=well+grounded+ruby%2Cdigital-text%2C85&sr=1-1"><img src="static/images/cover-well_grounded_rubyist.jpg" alt="Well-Grounded Ruby Cover"></a></li>
            <li><a href="https://www.goodreads.com/book/show/16720439-ruby-science"><img src="static/images/cover-ruby_science.jpg" alt="Ruby Science Cover"></a></li>
        </ul>
    </section>
</body>
<footer> Copyright 2022. Created by Chinazo.</footer>
</html>