<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Book Reviewers</title>
</head>
<body>
    <header>
        <h1>The Book Reviewers</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Eloquent Ruby Review</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <ul>
            <li>Clean Ruby</li>
            <li>Confident Ruby</li>
            <li>Eloquent Ruby</li>
            <li>Well-Grounded Ruby</li>
            <li>Ruby Science</li>
        </ul>
    </section>
</body>
<footer> Copyright 2022. Created by Chinazo.</footer>
</html>